*~
san.conf
recordings
host.crt
host.csr
host.key
host.keycrt
ffmpeg
mediamtx
hls_out
webfs-1.21.tar.gz
webfs-1.21
mediamtx_v1.8.0_linux_amd64.tar.gz
myCA-root.pem
samples
README.html
CA-KEY.key
mediamtx.log
zz-misc
